<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/apresentacao.css">

<div class="container">
    <div class="row">
        <div class="page-header"> <h1><b>Le Fromage</b></h1> </div>
        <p id="sub-header"> Tudo começoou com a nossa convivencia com os franceses nos mais de 10 anos em que moramos naquele pais magnifico, onde o queijo faz parte do dia à dia das familias. Em especial, o queijo de cabra esta presente em quase todos os pratos e momentos. Foram quase dois anos de cursos e trabalhos em fazendas e laticinios na França, alem obviamente da ajuda dos mestre queijeiros para importar este "savoir faire" e concretizar um sonho de fabricar no Brasil. </p>
    </div>
    
    <div class="row">
        <div class="col-md-5"> <img class="imagens" src="https://i.imgur.com/Fww0dyP.png"></div>
        <div class="col-md-7">
            <p class="paragrafos">
                Quisque et lacus id tortor pharetra cursus. Vestibulum tristique metus quis ipsum semper, vitae fermentum neque tempus. Aenean eleifend at enim ac pellentesque. Mauris blandit felis vel ultrices tincidunt. Aenean quis euismod lectus. Nulla egestas odio vitae est auctor tristique. Aenean eu maximus ante. Phasellus consectetur eget nibh eget pulvinar. Nam sit amet luctus ex.
            </p> 
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-7">
            <p class="paragrafos">
                Quisque et lacus id tortor pharetra cursus. Vestibulum tristique metus quis ipsum semper, vitae fermentum neque tempus. Aenean eleifend at enim ac pellentesque. Mauris blandit felis vel ultrices tincidunt. Aenean quis euismod lectus. Nulla egestas odio vitae est auctor tristique. Aenean eu maximus ante. Phasellus consectetur eget nibh eget pulvinar. Nam sit amet luctus ex.
            </p> 
        </div>
        <div class="col-md-5"> <img class="imagens" src="https://i.imgur.com/Fww0dyP.png"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5"> <img class="imagens" src="https://i.imgur.com/Fww0dyP.png"></div>
        <div class="col-md-7">
            <p class="paragrafos">
                Quisque et lacus id tortor pharetra cursus. Vestibulum tristique metus quis ipsum semper, vitae fermentum neque tempus. Aenean eleifend at enim ac pellentesque. Mauris blandit felis vel ultrices tincidunt. Aenean quis euismod lectus. Nulla egestas odio vitae est auctor tristique. Aenean eu maximus ante. Phasellus consectetur eget nibh eget pulvinar. Nam sit amet luctus ex.
            </p> 
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-7">
            <p class="paragrafos">
                Quisque et lacus id tortor pharetra cursus. Vestibulum tristique metus quis ipsum semper, vitae fermentum neque tempus. Aenean eleifend at enim ac pellentesque. Mauris blandit felis vel ultrices tincidunt. Aenean quis euismod lectus. Nulla egestas odio vitae est auctor tristique. Aenean eu maximus ante. Phasellus consectetur eget nibh eget pulvinar. Nam sit amet luctus ex.
            </p> 
        </div>
        <div class="col-md-5"> <img class="imagens" src="https://i.imgur.com/Fww0dyP.png"></div>
    </div>
</div>

<% include partials/footer %>
         







