<% include partials/header %>


    <header class="container">
         <div class="jumbotron">
             <h3>Fale conosco se tiver mais duvidas e conheça nossos deliciosos queijinhos!</h3>
             <br>
             <h4> Nosso Facebook: <a href="https://www.facebook.com/lefromagequeijosfinos/"><i class="fa fa-facebook"></i></a> </h4>
             <h4> Nosso Instagramk: <a href="https://www.instagram.com/lefromage_queijosfinosdecabra?hl=en"><i class="fa fa-instagram"></i></a> </h4>
             <h4> Por telefone: </h4>
             <h4> Por e-mail: </h4>
         </div>
     </header>
<% include partials/footer %>