<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/localizacao.css">

    <header class="container">
         <div class="jumbotron">
             <p>Realizamos degustação e venda <b>todos os sabados das 10:00 até as 13:00</b>.<br>
                Você tambem pode encontrar nossos queijinhos nos melhores emporios e supermercados de Bragança Paulista.
             </p>
                
         </div>
     </header>
     <div class="row">
         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1298.769911172657!2d-46.554971245397546!3d-22.96951578704196!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cec90aa0650f2b%3A0x179497de5c6c262b!2sLaticinio+%22Le+Fromage%22!5e0!3m2!1sen!2sbr!4v1533143441124" width="600" height="450" frameborder="0" style="border: 0; margin-left: 27%" allowfullscreen></iframe>
     </div>
<% include partials/footer %>