<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/main.css">

<img class="animated fadeInUp" id = "logo" src="logo.png">


<div class="container">
    <div class="row">
        <div class="col-lg-12"> <h2 style="text-align: center">Nossa Missão</h2></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6 col-sm-12"> <p class="colunas"> Fabricar queijos de cabra, em pequenas quantidades, utilizando ingredientes e seguindo o processo idêntico aos queijos franceses artesanais; tudo feito dentro dos melhores padrões de higiene e qualidade com textura e gosto que satisfaçam nossos clientes.</p> </div>
    </div>

    <div class="botao">
        <a class="btn btn-primary btn-large" href="quemsomos" >Mais detalhes!</a>
    </div>
    
    <div class="row">
        <div class="col-lg-12"> <h2 style="text-align: center">NOSSOS PRODUTOS</h2></div>
        <hr>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail">
                <img class="img_queijo" src="massa_fresca.jpg">
                   <div class="caption">
                       <h4>Queijos Massa fresca</h4>
                   </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail">
                <img class="img_queijo" src="massa_mole.jpg">
                   <div class="caption">
                       <h4>Queijos Massa mole afinado</h4>
                   </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail">
                <img class="img_queijo" src="massa_semidura.jpg">
                   <div class="caption">
                       <h4>Queijos Massa semidura</h4>
                   </div>
            </div>
        </div>
    </div>
  
    <h3>Entre varios outro tipos, confira todos! <a class="btn btn-primary btn-large" href="produtos" >Nossos Queijos</a></h3>

    <div class="row">
        <div class="col-lg-12"> <h2 style="text-align: center">NOSSA EQUIPE</h2></div>
        <hr>
    </div>
    <div class="row">
        <div class="col-lg-6">
                <img class="pessoas" src="https://cdn1.iconfinder.com/data/icons/avatar-2-2/512/Programmer-512.png">
                <p class="parag_pessoa">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
        </div>
        
        
        <div class="col-lg-6">
            
                <img class="pessoas" src="https://cdn1.iconfinder.com/data/icons/avatar-2-2/512/Programmer-512.png">
                <p class="parag_pessoa">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
        </div>
        
        
    </div>
    
</div>

<% include partials/footer %>