<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/main.css">

<img class="animated fadeInUp" id = "logo" src="https://i.imgur.com/Fww0dyP.png">


<div class="container">
    <div class="row">
        <div class="col-lg-12"> <h3 style="text-align: center">Nossa Missão</h3></div>
    </div>
    <hr>
    <h1 style="text-align: center">Queijos finos de leite de cabra</h1>
    <div class="row">
        <div class="col-lg-6"> <p class="colunas"> Fabricar queijos de cabra, em pequenas quantidades, utilizando ingredientes e seguindo o processo idêntico aos queijos franceses artesanais; tudo feito dentro dos melhores padrões de higiene e qualidade com textura e gosto que satisfaçam nossos clientes.</p> </div>
        <div class="col-lg-6"> <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p> </div>
    </div>

    <div class="botao">
        <a class="btn btn-primary btn-large" href="quemsomos" >Mais detalhes!</a>
    </div>
    
    <div class="row">
        <div class="col-lg-12"> <h3 style="text-align: center">NOSSOS PRODUTOS</h3></div>
        <hr>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail">
                <img class="img_queijo" src="https://i.imgur.com/FanrpYm.jpg">
                   <div class="caption">
                       <h4>Queijos Massa fresca</h4>
                   </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail">
                <img class="img_queijo" src="https://i.imgur.com/pkbLrKx.jpg">
                   <div class="caption">
                       <h4>Queijos Massa mole afinado</h4>
                   </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
            <div class="thumbnail">
                <img class="img_queijo" src="https://i.imgur.com/LIvHZ68.jpg">
                   <div class="caption">
                       <h4>Queijos Massa semidura</h4>
                   </div>
            </div>
        </div>
    </div>
    
    <div class="row">
       <div class="col-md-8">
        <h3>Entre varios outro tipos, confira todos! <a class="btn btn-primary btn-large" href="produtos" >Nossos Queijos</a></h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12"> <h3 style="text-align: center">NOSSA EQUIPE</h3></div>
        <hr>
    </div>
    <div class="row">
        <div class="col-lg-6">
                <img class="pessoas" src="https://cdn1.iconfinder.com/data/icons/avatar-2-2/512/Programmer-512.png">
                <p class="parag_pessoa">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
        </div>
        
        
        <div class="col-lg-6">
            
                <img class="pessoas" src="https://cdn1.iconfinder.com/data/icons/avatar-2-2/512/Programmer-512.png">
                <p class="parag_pessoa">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
        </div>
        
        
    </div>
    
</div>

<% include partials/footer %>