p{
   font-family:'Conv_FREESCPT';
   font-size: 30px;
}

#sub-header{
    font-size: 30px;
    border-left: 10px solid blue;
    padding-left: 10px;
}

h1{
    text-align: center;
    font-family:'Conv_FREESCPT';
    font-size: 45px;
}

.imagens{
    display: block;
    margin: auto;
    width: 60%;
}

.paragrafos{
    margin-top: 60px;
}