@font-face {
	font-family: 'Conv_FREESCPT';
	src: local('☺'), url('../fonte/FREESCPT.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    width: 75%;
    margin-top: 0;
}

h1, h2, h3, h4, h5{
    font-family:'Conv_FREESCPT';
}

h2{
    font-size: 40px;
}

h3{
    font-size: 33px;
    
}

h4{
    font-size: 36px;
}

p{
    text-align: center;
    letter-spacing: .05em;
    margin-left: 68%;
    width: 80%;
    font-family:'Conv_FREESCPT';
    font-size: 30px;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 30%;
}


.thumbnail{
    width: 300px; 
    overflow: auto;
    margin-left: 100px;
}

.img_queijo{
    width: 300px;
    height: 300px;
    
}

.caption{
    text-align: center; 
}

.botao{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 25px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
     
      body {
      background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/1200px-Flag_of_France.svg.png");
      background-repeat: no-repeat;
      background-size: 10% 100%;
      background-position: 15px;
      z-index: -1; position:relative;
    }
      @font-face {
    	font-family: 'Conv_FREESCPT';
    	src: local('☺'), url('../fonte/FREESCPT.woff') format('woff');
    	font-weight: normal;
    	font-style: normal;
    }
      
    #logo{
        display: block;
        width: 50%;
    }
      
    h2{
        font-size: 40px;
        width: 100%;
    }
    
    hr{
        height: 12px;
        border: 0;
        box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
        width: 100%;
        margin-top: 0;
    }
    
    p{
        text-align: center;
        letter-spacing: .05em;
        width: 80%;
        font-family:'Conv_FREESCPT';
        margin-left: 20%;
        font-size: 35px;
        line-height: 1;
    }
    
    .botao{
        text-align: center;
        margin-bottom: 50px;
    }
    
    .thumbnail{

        overflow: auto;
        margin-left: 15%;
    }
    
    h3{
        margin-left: 15%;
    }
    
}