@font-face {
	font-family: 'Conv_FREESCPT';
	src: local('☺'), url('../fonte/FREESCPT.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

imagens_queijos{
    border-radius: 50px;
    padding: 20px; 
    width: 70%;
}

.receitas{
    border-radius: 50px;
    padding: 20px; 
}

.jumbotron h1, h2, h3, h4{
    font-family:'Conv_FREESCPT';
}

.jumbotron h2{
    font-size: 33px;
}

.jumbotron h3{
    font-size: 30px;
}

h3{
    font-size: 28px;
}

.jumbotron h4{
    font-size: 28px;
}

.caption h4{
    font-size: 30px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    h3{
        text-align: center;
    }
    
    .caption h4{
        font-size: 35px;
    }
    
    imagens_queijos{
        border-radius: 50px;
        padding: 20px; 
        width: 90%;
    }
}