body {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/1200px-Flag_of_France.svg.png");
  background-repeat: no-repeat;
  background-size: 10% 100%;
  background-position: 20px;
}