<% include ../partials/header %>

<link rel="stylesheet" href="/stylesheets/produtos.css">

<div class="container">
    <div class="jumbotron">
        <h1>Queijo massa mole<hr></h1>
        <h3><b>Descrição:</b></h3>
        <h4><b>Aspecto:</b> Formatos cilindrivos ou piramide.</h4>
        <h4><b>Peso:</b></h4>
        <h4 style="margin-left: 50px">
            <li>Buche de chèvre: aproximadamente 150 gramas.</li>
            <li>Tipo Camembert: aproximadamente 250 gramas.</li>
            <li>Pyramide: aproximadamente 200 gramas.</li>
        </h4>
        <h4><b>Textura:</b> Massa mole coberta por uma camada de fungo branco, quanto mais maturada mais cremosos. A Piramide possui uma camada intermediaria de cinza vegetal</h4>
        <h4><b>Gosto:</b> Pouco doce no começo da maturaçao , tornando-se mais acentuado com a evoluçao do queijo.</h4>
        <h4><b>Tempo de maturação:</b> superior à 3 semanas.</h4>
    </div>
    
    <h3><b>Os queijos</b></h3>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
            <img class="imagens_queijos"  src="massa_mole/buche.jpg">
               <div class="caption">
                   <h4 style="text-align: center">Buche de chèvre</h4>
               </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="thumbnail">
            <img class="imagens_queijos"  src="massa_mole/camembert.jpg">
               <div class="caption">
                   <h4 style="text-align: center">Tipo Camembert (Chèvre-boite)</h4>
               </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="thumbnail">
            <img class="imagens_queijos"  src="massa_mole/pyramide.jpg" style="height: 260px">
               <div class="caption">
                   <h4 style="text-align: center">Pyramide Le Valençay</h4>
               </div>
            </div>
        </div>
    </div>
    
    <h3>Como comer nossos queijinhos?</h3>
    <div class="col-md-4">
        <div class="thumbnail">
            <img class="receitas" src="massa_mole/pizza.jpg">
               <div class="caption">
                   <h4 style="text-align: center">Rodelas de buche de chèvre na pizza de mussarela</h4>
               </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="thumbnail">
            <img class="receitas"  src="massa_mole/cam_aquecido.jpg" style="height: 210px; width: 200px">
               <div class="caption">
                   <h4 style="text-align: center">Tipo Camembert aquecido no forno com pão Italiano</h4>
               </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="thumbnail">
            <img class="receitas"  src="massa_mole/puro.jpg">
               <div class="caption">
                   <h4 style="text-align: center">Puros, mais maturados e gosto acentuado. Bom com torradas.</h4>
               </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>