<% include ../partials/header %>

<link rel="stylesheet" href="/stylesheets/produtos.css">

<div class="container">
    <div class="jumbotron">
        <h1>Queijos massa fresca<hr></h1>
        <h4><b>Aspecto:</b> Formatos cilindricos ou piramide.</h4>
        <h4><b>Peso:</b> Entre 150 a 250 gramas.</h4>
        <h4><b>Textura:</b> Pastoso.</h4>
        <h4><b>Gosto:</b> Pouco acido e fresca.</h4>
        <h4><b>Temperos:</b></h4>
        <h4 style="margin-left: 50px">
            <li>Salopempa: pimentão, sal, grão de mostarda, paprika, echalote, alho e pimenta rosa </li>
            <li>Saveur du Jardin: alho, cebola, echalote, tomate, salsinha, cebolinha, pimenta rosa e estragão</li>
            <li>Herbes de Provence: manjericão, manjerona, flor de lavanda, ervas de Provença, erva doce</li>
        </h4>
        <h4><b>Tempo de maturação:</b> uma semana.</h4>
    </div>
    
    <h3><b>Nossos queijos massa fresca</b></h3>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="thumbnail">
            <img class="imagens_queijos" src="massa_fresca/comazeite.jpg">
               <div class="caption">
                   <h4 style="text-align: center">Tipo Boursin temperado com azeite</h4>
               </div>
            </div>
        </div>
        
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="thumbnail">
            <img class="imagens_queijos" src="massa_fresca/semazeite.jpg">
               <div class="caption">
                   <h4 style="text-align: center">Tipo Boursin temperado sem azeite</h4>
               </div>
            </div>
        </div>


    </div>
    <h3><b>Como comer nossos queijinhos?</b></h3>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="thumbnail">
            <img class="receitas" src="massa_fresca/entrada.jpg">
               <div class="caption">
                   <h4 style="text-align: center">Como entrada</h4>
               </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="thumbnail">
            <img class="receitas" style="height: 320px" src="massa_fresca/lanche.jpg">
               <div class="caption">
                   <h4 style="text-align: center">Sem tempero, no sanduiche</h4>
               </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>