<% include ../partials/header %>

<link rel="stylesheet" href="/stylesheets/produtos.css">

<div class="container">
    <div class="jumbotron">
        <h1>Queijos massa semi dura<hr></h1>
        <h4><b>Aspecto:</b> Formatos cilindrivos.</h4>
        <h4><b>Peso:</b> Aproximadamente 350 gramas.</h4>
        <h4><b>Textura:</b> Massa lisa e semi dura.</h4>
        <h4><b>Gosto:</b> Puxando para um parmesao ..</h4>
        <h4><b>Tempo de maturação:</b> superior à 20 semanas.</h4>
    </div>
    
    <h3><b>Nosso queijo massa semi dura</b></h3>
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
            <img class="imagens_queijos" src="semi_dura/tomme.jpg" style="width: 90%">
               <div class="caption">
                   <h4 style="text-align: center">Tomme de Savoie</h4>
               </div>
        </div>
        </div>
        
    </div>
</div>

<% include ../partials/footer %>